.simulacao__titulo {
    font-family: 'Familjen Grotesk', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    color: #131313;
    padding-top: 66px;
    margin-bottom: 9px;
}