.banner__rendimento--descricao {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 16px;
    line-height: 16px;
    margin-top: 8px;
    padding-bottom: 50px;
    color: #BFBFBF;
}

.banner__rendimento--destaque {
    color: #FFFFFF;
}