.recomendacoes__chamada {
    width: 350px;
    height: 96px;
    padding-left: 88px;
    font-family: 'Familjen Grotesk', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #ffffff;
}