.iniciar__numero {
    width: 45px;
    height: 37px;
    margin: 73px 0 40px 0;

    font-family: 'Familjen Grotesk', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 37px;
    

    color: #396AF7;
}