.iniciar__destaque {
    font-family: 'Familjen Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    color: #131313;
    margin-bottom: 24px;
}