
@media screen and (min-width: 320px) and (max-width: 768px) {
    .cabecalho {
        width: 100vh;
    }

    .banner {
        flex-direction: column;
        justify-content: center;
    }
    
    .banner__conteudo {
        margin: 10px;
    }

    .banner__titulo {
        width: 300px;
        font-size: 30px;
        line-height: 60px;
    }

    .banner__descricao {
        width: 300px;
        margin-bottom: 70px;
    }

    .banner__botao {
        margin: 0 auto 0 auto;
    }

    .banner__moeda {
        display: none;
    }

    .beneficios__titulo {
        font-size: 30px;
        margin-top: 70px;
    }

    .beneficios__lista {
        width: 320px;
        flex-direction: column;
        align-items: center;
    }

    .beneficios__item {
        width: 300px;
    }

    .simulador__pontilhado {
        display: none;
    }

    .simulador__teste {
        flex-direction: column;
        align-items: center;
    }

    .simulador__titulo {
        width: 195px;
        font-size: 30px;
        margin: 0;
    }

    .simulador__descricao {
        width: 190px;
        margin-top: 50px;
    }

    .simulacao {
        flex-direction: column;
        align-items: center;
    }

    .simulacao__inicial {
        width: 300px;
        margin: 50px 0 0 0;
    }

    .simulacao__imagem {
        width: 300px;
    }

    .simulador__botao {
        margin-bottom: 70px;
    }

    .iniciar__titulo {
        font-size: 30px;
    }

    .iniciar__lista {
        width: 320px;
        flex-direction: column;
        align-items: center;
    }

    .iniciar__item {
        width: 300px;
    }

    .download {
        width: 320px;
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }

    .download__conteudo {
        margin: 10px;
        display: flex;
        flex-direction: column;
    }

    .download__titulo {
        width: 320px;
        font-size: 30px;
        margin: 0 0 18px;
        line-height: 48px;
    }

    .download__descricao {
        font-size: 16px;
    }

    .download__botao--google, .download__botao--apple {
        margin: 0 auto 15px auto;
    }

    .download__imagem, .download__pontilhado {
        display: none;
    }

    .conteudo {
        height: 2434px;
    }

    .recomendacoes {
        flex-wrap: nowrap;
        align-items: center;
    }

    .recomendacoes__chamada {
        width: 320px;
        flex-direction: column;
        align-items: center;
    }

    .recomendacoes__chamada--titulo {
        width: 270px;
        font-size: 30px;
        margin-bottom: 20px;
    }

    .botao__recomendacoes {
        margin: 0;
        align-self: auto;
    }
    
    .recomendacoes__lista {
        flex-direction: column;
    }

    .recomendacoes__item {
        margin: 0 0 10px 0;
        width: 320px;
    }

    .recomendacoes__descricao {
        width: 300px;
    }

    .recomendacoes__avaliacao{
        width: 280px;
    }

    .recomendacoes__avaliacao {
        width: 170px;
    }

    .chat {
        flex-direction: column;
        align-items: center;
    }

    .chat__chamada {
        margin: 0;
        align-items: center;
    }

    .chat__titulo {
        width: 270px;
        font-size: 30px;
    }

    .chat__descricao {
        width: 270px;
    }

    .botao__chat {
        margin: 50px 0 0 0;
    }

    .chat__imagem {
        margin-top: 50px;
    }

    .chat__imagem--equipe {
        width: 320px;
    }

    .chat__pontilhado {
        display: none;
    }

    .perguntas {
        background-color: #222222;
        height: 1700px;
    }

    .perguntas__chamada {
        font-size: 30px;
        width: 270px;
        margin-bottom: 20px;
    }

    .perguntas__lista {
        flex-wrap: nowrap;
        width: 320px;
        align-items: center;
    }

    .perguntas__item {
        width: 270px;
        margin-top: 60px;
    }

    .comece__agora {
        margin-top: 3785px;
        height: 350px;
        flex-direction: column;
    }

    .comece__agora--conteudo {
        margin-bottom: 50px;
    }

    .comece__agora--chamada {
        font-size: 30px;
    }

    .comece__agora--descricao {
        width: 270px;
    }

    .botao__comece--agora {
        margin: 0 auto;
    }

    .pontilhado__comece--agora {
        display: none;
    }

    .informacoes {
        height: 950px;
    }

    .informacoes__lista {
        flex-direction: column;
        margin: 10px;
        width: 320px;
    }

    .rodape {
        flex-direction: column;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .menu__login {
        margin-left: 70px;
    }

    .banner {
        height: 570px;
    }

    .banner__conteudo {
        margin: auto 0 auto 20px;
    }

    .banner__titulo {
        width: 390px;
        font-size: 40px;
    }

    .banner__descricao {
        width: 280px;
        font-size: 12px;
    }

    .banner__moeda {
        width: 600px;
        background-position: unset;
        margin: 20px 0 0 35px;
    }

    .banner__botao {
        margin-top: 35px;
    }

    .banner__rendimento {
        margin-top: 50px;
    }

    .beneficios__lista {
        width: 730px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .simulador__pontilhado {
        margin: -71px 0px -75px 550px;
    }

    .simulador__teste {
        flex-direction: column;
    }

    .simulador__titulo {
        margin: 100px 0 0 0;
    }

    .simulador__descricao {
        margin-top: 40px;
    }

    .simulacao {
        flex-direction: column;
        align-items: center;
    }

    .simulacao__resultado {
        margin-top: 40px;
    }

    .simulador__botao {
        margin-bottom: 70px;
    }

    .iniciar {
        margin-bottom: 220px;
    }
    
    .iniciar__pontilhado {
        margin: -70px 0 0 -555px;
    }

    .iniciar__lista {
        width: 730px;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 70px;
    }

    .download {
        width: 700px;
        height: 440px;
    }

    .download__conteudo {
        display: flex;
        flex-direction: column;
        margin: auto 0 auto 20px;
    }

    .download__titulo {
        width: 300px;
        font-size: 30px;
        margin-top: 0;
    }

    .download__descricao {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .download__botao--google {
        margin-bottom: 25px;
    }

    .download__imagem {
        margin-top: 55px;
        height: 385px;
    }

    .download__pontilhado {
        margin-top: 15px;
    }

    .recomendacoes {
        padding-top: 420px;
    }

    .recomendacoes__chamada {
        width: 769px;
        justify-content: space-around;
    }

    .recomendacoes__lista {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .recomendacoes__item {
        width: 320px;
        padding: 24px 10px 0 10px;
        margin-right: 0;
    }

    .recomendacoes__item--ultimo {
        margin-top: 20px;
    }

    .chat {
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }

    .chat__chamada {
        margin: 0;
    }

    .chat__titulo {
        width: 320px;
    }

    .botao__chat {
        margin: 0 auto;
    }

    .chat__imagem {
        margin-top: 60px;
    }

    .perguntas {
        background-color: #222222;
    }

    .perguntas__chamada {
        margin: 70px 0;
    }

    .perguntas__lista {
        width: 460px;
        height: 835px;
        flex-wrap: nowrap;
    }

    .comece__agora {
        margin-top: 2920px;
    }

    .comece__agora--conteudo {
        margin-left: 40px;
    }

    .comece__agora--chamada {
        width: 415px;
    }

    .botao__comece--agora {
        margin-left: 70px;
    }

    .informacoes__item--empresa {
        margin-bottom: 24px;
    }
}

@media screen and (min-width: 1025px) and (max-width:1200px) {
    .cabecalho {
        width: 100vw;
    }

    .banner__conteudo {
        margin-left: 6%;
    }

    .banner__moeda {
        width: 510px;
    }

    .beneficios__lista {
        width: 1024px;
    }

    .simulador__teste {
        flex-direction: column;
    }

    .simulador__titulo {
        margin-top: 120px;
    }

    .simulador__descricao {
        margin-top: 30px;
    }

    .simulador__pontilhado {
        margin-left: 700px;
    }

    .iniciar {
        margin-bottom: 230px;
    }

    .iniciar__lista {
        width: 1024px;
        justify-content: space-around;
    }

    .iniciar__item {
        width: 300px;
    }

    .download {
        width: 80%;
    }

    .download__titulo {
        margin: 40px 0 24px 20px;
    }

    .download__descricao {
        margin: 0 0 48px 20px;
    }

    .download__botao--google {
        margin: 0 24px 0 20px;
    }

    .download__imagem {
        height: 340px;
        margin-top: 148px;
        margin-left: -30px;
    }

    .download__pontilhado {
        margin: 100px 0 0 -225px;
    }

    .recomendacoes {
        padding-top: 420px;
    }

    .recomendacoes__chamada {
        justify-content: space-around;
        width: 1024px;
    }

    .recomendacoes__lista {
        width: 1024px;
        justify-content: space-around;
    }

    .recomendacoes__item {
        margin-right: 10px;
        width: 295px;
    }

    .recomendacoes__item--ultimo {
        margin-right: 0;
    }

    .chat {
        margin-top: 170px;
    }

    .chat__chamada {
        margin-right: 130px;
    }

    .chat__titulo {
        width: 320px;
        font-size: 37px;
    }

    .chat__descricao {
        width: 450px;
    }

    .botao__chat {
        margin-left: -238px;
    }

}

@media screen and (min-width: 1201px) and (max-width: 1350px) {
    .banner__conteudo {
        margin-left: 6%;
    }

    .download {
        width: 85%;
        height: 460px;
    }

    .download__conteudo {
        margin-left: 20px;
    }

    .download__titulo {
        width: 500px;
    }

    .download__imagem {
        margin-top: 37px;
    }

    .download__pontilhado {
        margin:  80px 0 0 -135px;
    }

    .recomendacoes__chamada {
        width: 1000px;
    }

    .chat__chamada {
        margin-right: 250px;
    }

    .perguntas__lista {
        align-items: center;
    }

}

@media screen and (min-width: 1351px) and (max-width: 1600px) {
    .banner__conteudo {
        margin-left: 9%;
    }
}

@media screen and (min-width: 1600px) and (max-width: 1800px){
    .banner__conteudo {
        margin-left: 11%;
    }
}

@media screen and (min-width: 1801px) {
    .banner__conteudo {
        margin-left: 12%;
    }
}