.simulador {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F4F8;
}

.simulador__teste {
    display: flex;
    flex-direction: row;
}

.simulador__botao {
    margin-bottom: 90px;
}